@if (User.Identity.IsAuthenticated){
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" asp-controller="Orders" asp-action="Index">Orders</a></li>
            @if (User.Identity.Name == "Admin")
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" asp-area="" asp-controller="Customers" asp-action="Index">Customer</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Index">Product</a></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Carts" asp-action="Index">Cart</a></li>
                </ul>
            </li>
            }
            <li class="nav-item"><a class="nav-link" href="#!" >Welcome @User.Identity.Name</a></li>
            <form method="post" asp-page="/Account/Logout">
            <li class="nav-item">
                <button type="submit" class="btn btn-secondary">Logout</button>
            </li>
            </form>
        </ul>
    </div>

}
else{
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"><li class="nav-item"><a class="nav-link active" asp-page="/Account/Login">Login</a></li>
    <li class="nav-item"><a class="nav-link active" asp-controller="Customers" asp-action="Signup">Signup</a></li></ul>
}




