@page
@model Main.Views.Pages.Account.LoginModel
@{
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    Layout = "../../Views/Shared/_Layout.cshtml";
}
<h1>Login</h1>

<div>
    <form method="post">
        <div>
            <div>
                <label asp-for="Credential.Email"></label>
            </div>
            <div>
                <input type="text" asp-for="Credential.Email" class="form-control" />
            </div>
            <div>
                <label asp-for="Credential.Password" class="control-label"></label>
            </div>
            <div>
                <input type="text" asp-for="Credential.Password" class="form-control" />
            </div>
            <div>
                <input type="submit" value="login"/>

            </div>
        </div>
    </form>
</div>