@model Order
@{
    ViewData["Title"] = "Confirm";
}
<h1>Please Confirm your Address</h1>
<form method="post">
<div class="row">
    <div class="col-sm-6">
        <!-- Form -->
        <div class="mb-4">
            <label for="SKULabel" class="form-label">Area</label>

            <input  class="form-control" asp-for="Area" placeholder="Enter Your Area">
        </div>
        <div class="mb-4">
            <label for="SKULabel" class="form-label">Streat</label>

            <input  class="form-control" asp-for="Streat" placeholder="Enter Your Streat">
        </div>
        <div class="mb-4">
            <label for="SKULabel" class="form-label">House</label>

            <input  class="form-control" asp-for="House" placeholder="Enter Your House Name Or Num">
        </div>
        <div class="form-group ">
                <input type="submit" value="Confirm Order" class="btn btn-primary mb-4" asp-action="Confirm1" />
        </div>
    </div>
</div>
</form>