@model Product

<h2>Add New Product</h2>

<form asp-action="Upsert" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" asp-for="Image1" />
    <input type="hidden" asp-for="Image2" />
    <input type="hidden" asp-for="Image3" />
    <input type="hidden" asp-for="Image4" />
    <div class="form-group">
        <label asp-for="ProductName" class="control-label"></label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="InstockQty" class="control-label"></label>
        <input asp-for="InstockQty" class="form-control" />
        <span asp-validation-for="InstockQty" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewOrUsed" class="control-label"></label>
        <select asp-for="NewOrUsed" class="form-control">
            <option value="">Select</option>
            <option value="True">Yes</option>
            <option value="False">No</option>
        </select>
        <span asp-validation-for="NewOrUsed" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <select asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MeasureOfScaleId" class="control-label"></label>
        <select asp-for="MeasureOfScaleId" class="form-control" asp-items="@ViewBag.MeasureOfScales"></select>
        <span asp-validation-for="MeasureOfScaleId" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Description"></label>
        <div>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label"></label>
        <input type="file" accept="image/*" class="form-control-file" name="file1" />

    </div>
    <div class="form-group">
        <label class="control-label"></label>
        <input type="file" accept="image/*" class="form-control-file" name="file2" />

    </div>
    <div class="form-group">
        <label class="control-label"></label>
        <input type="file" accept="image/*" class="form-control-file" name="file3" />

    </div>
    <div class="form-group">
        <label class="control-label"></label>
        <input type="file" accept="image/*" class="form-control-file" name="file4" />

    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea'
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}